
<br>
<%=puts @free_seats_list%>

<div class="wrapper">

  <div class="container-fluid" id="legend">
    <div class="table">
      <div class="row" id="eggs-n-chairs-images">
        <div class="col-md-1"></div>
        <div class="col-md-1"><img src="/eggs/egg-gold.png"></div>
        <div class="col-md-1"><img src="/eggs/egg-red.png"></div>
        <div class="col-md-1"><img src="/eggs/egg-green.png"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"><img src="/chairs/armchair-white.png"></div>
        <div class="col-md-1"><img src="/chairs/armchair-yellow.png"></div>
        <div class="col-md-1"><img src="/chairs/armchair-black.png"></div>
        <div class="col-md-1"></div>
      </div>
      <div class="row" id="eggs-n-chairs-legends">
        <div class="col-md-1"></div>
        <center><div class="col-md-1"><p> FREE!</p></div></center>
        <center><div class="col-md-1"><p> 50% OFF</p></div></center>
        <center><div class="col-md-1"><p> 25% OFF</p></div></center>
        <div class="col-md-1"></div>
        <center><div class="col-md-1"><p> Available</p></div></center>
        <center><div class="col-md-1"><p> Selected</p></div></center>
        <center><div class="col-md-1"><p> Sold</p></div></center>
        <div class="col-md-1"></div>
      </div>
    </table>
  </div>

  <div class="container-fluid" id="seats-enclosure">
    <div class="row">
      <div class="col-md-8" id="seats">
        <!--<h4 id="seat-game-title">MAIN STAGE</h4>-->

        <center><h4>Gold Seats - $80</h4></center>
        <%for i in 1..40%>
          <div class="seat-tile">
            <%if @seats[i-1].status == "available"%>
              <img src="/chairs/armchair-white.png" class="gold" data-id="<%=i%>">
            <%else%>
              <img src="/chairs/armchair-black.png" class="gold" data-id="<%=i%>">
            <%end%>
          </div>
          <%if i%20 == 0%>
            <br>
          <%end%>
        <%end%>

        <center><h4>Silver Seats - $60</h4></center>
        <%for i in 41..100%>
          <div class="seat-tile">
            <%if @seats[i-1].status == "available"%>
              <img src="/chairs/armchair-white.png" class="silver" data-id="<%=i%>">
            <%else%>
              <img src="/chairs/armchair-black.png" class="silver" data-id="<%=i%>">
            <%end%>
          </div>
          <%if i%20 == 0%>
            <br>
          <%end%>
        <%end%>

        <center><h4>Bronze Seats - $40</h4></center>
        <%for i in 101..200%>
          <div class="seat-tile">
            <%if @seats[i-1].status == "available"%>
              <img src="/chairs/armchair-white.png" class="bronze" data-id="<%=i%>">
            <%else%>
              <img src="/chairs/armchair-black.png" class="bronze" data-id="<%=i%>">
            <%end%>
          </div>
          <%if i%20 == 0%>
            <br>
          <%end%>
        <%end%>
        
        <br><br>


      </div>
      <div class="col-md-4" id="pricing">
        <div>
            <table class ="table">
              <thead>
                <tr>
                  <th>CATEGORY</th>
                  <th>QUANTITY</th>
                  <th>PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr id="seat-gold">
                  <td><p>GOLD SEATS ($80)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
                <tr id="seat-silver">
                  <td><p>SILVER SEATS ($60)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
                <tr id="seat-bronze">
                  <td><p>BRONZE SEATS ($40)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
                <tr id="egg-gold">
                  <td><p>GOLD EGG (100% OFF)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
                <tr id="egg-red">
                  <td><p>RED EGG (50% OFF)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
                <tr id="egg-green">
                  <td><p>GREEN EGG (25% OFF)</p></td>
                  <td><p>0</p></td>
                  <td><p>$0</p></td>
                </tr>
          
                <tr id="grand-total">
                  <td><h5>GRAND TOTAL</h5></td>
                  <td><h5>0</h5></td>
                  <td><h5>$0</h5></td>
                </tr>
              
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>


</div>



<br><br>
<center>

      <%= form_tag seats_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Standard Ticket: 1"
              data-amount="2000"
              data-currency="aud"
              data-locale="auto"></script>
    <% end %>


</center>


<script>
$('.seat-tile').on('click', function(){

  var that = this;
  chairId = parseInt($(that).find('img').attr('data-id'));

  var options = {

    type: 'get',  
    url: '/api/seats',
    dataType: 'json',
    data: { id: chairId }
  };

  $.ajax(options).done(function(data) { //When user clicks on a seat 

    chairImage = $(that).find('img');
    chairColour = $(that).find('img').attr('src');
    chairId = parseInt($(that).find('img').attr('data-id'));
    var chairPrice = 0;
    //console.log($(that).find('img').attr('src'));
    //console.log($(that).find('img').attr('data-id'));
    if(chairId >=1 && chairId <=40){
      chairPrice = 80;
    }else if(chairId >=41 && chairId <=100){
      chairPrice = 60;
    }else if(chairId >=101 && chairId <=200){
      chairPrice = 40;
    }

    //find out if this id is in the easter egg seats
    eggData = data[chairId-1].eggtype;

    if(eggData != "none" && chairColour.indexOf('egg') < 0 ) {
      if(eggData === "gold"){
        chairImage.attr('src', "/eggs/egg-gold.png");
      } else if(eggData === "red"){
        chairImage.attr('src', "/eggs/egg-red.png");
      } else if(eggData === "green"){
        chairImage.attr('src', "/eggs/egg-green.png");
      }
    }else if(chairColour.indexOf('white') > 0 ){
      chairImage.attr('src', '/chairs/armchair-yellow.png');

    }else if(chairColour.indexOf('yellow') > 0  ||   chairColour.indexOf('egg') > 0){
      chairImage.attr('src', '/chairs/armchair-white.png');
    }

    var price = 0;
    var priceCells = null;
    var priceQuantity = null;

    //now update the pricing table
    if(eggData != "none"){

      if(eggData === "gold"){
        priceCells = $('body').find('#egg-gold td p');
        var qty = parseInt(priceCells[1].innerHTML);
        chairPrice = 0;  //100% discount
        priceCells[1].innerHTML = (qty + 1); 
      }

      if(eggData === "red"){
        priceCells = $('body').find('#egg-red td p');
        var qty = parseInt(priceCells[1].innerHTML);
        priceCells[1].innerHTML = qty + 1;
        var cost = parseInt(priceCells[2].innerHTML.slice(1));
        chairPrice = chairPrice/2;
        priceCells[2].innerHTML = "$" + (cost + chairPrice);
      }

      if(eggData === "green"){
        priceCells = $('body').find('#egg-green td p');
        var qty = parseInt(priceCells[1].innerHTML);
        priceCells[1].innerHTML = (qty + 1);
        var cost = parseInt(priceCells[2].innerHTML.slice(1));
        chairPrice = chairPrice/4;
        priceCells[2].innerHTML = "$" + (cost + chairPrice); 
      }


    }else if(chairPrice === 80){
      priceCells = $('body').find('#seat-gold td p');
      var qty = parseInt(priceCells[1].innerHTML);
      priceCells[1].innerHTML = (qty + 1);
      var cost = parseInt(priceCells[2].innerHTML.slice(1));
      priceCells[2].innerHTML = "$" + (cost + chairPrice); 
    }else if(chairPrice === 60){
      priceCells = $('body').find('#seat-silver td p');
      var qty = parseInt(priceCells[1].innerHTML);
      priceCells[1].innerHTML = (qty + 1);
      var cost = parseInt(priceCells[2].innerHTML.slice(1));
      priceCells[2].innerHTML = "$" + (cost + chairPrice);
    }else if(chairPrice === 40){
      priceCells = $('body').find('#seat-bronze td p');
      var qty = parseInt(priceCells[1].innerHTML);
      priceCells[1].innerHTML = qty + 1;
      var cost = parseInt(priceCells[2].innerHTML.slice(1));
      priceCells[2].innerHTML = "$" + (cost + chairPrice);
    }

    priceCells = $('body').find('#grand-total td h5');
    var qty = parseInt(priceCells[1].innerHTML);
    priceCells[1].innerHTML = qty + 1;
    var cost = parseInt(priceCells[2].innerHTML.slice(1));
    priceCells[2].innerHTML = "$" + (cost + chairPrice);


  });

});



$('#go-to-payment').on('click', function(){ //When user clicks on 'To payment'

  var options = {

    type: 'get',  
    url: '/api/seats',
    dataType: 'json',
    data: { }
  };

  $.ajax(options).done(function(seats) {
    var that = this;
    
    //console.log($('body').find('.seat-tile > img').length);

    $('body').find('.seat-tile img').each(function(index, image){
      imageName = image.src;
      imageId = parseInt(image.dataset["id"]);
      //console.log(imageName);
      //console.log(imageId);
      if(imageName.indexOf("yellow") >= 0 || imageName.indexOf("egg") >= 0){
        seats[imageId-1].status = "sold";
        //console.log(seats[imageId-1]);
        seats[imageId-1].pendingpayment = true;
        if(imageId >=1 && imageId <=40){
          seats[imageId-1].price = 80;
        }else if(imageId >=41 && imageId <=100){
          seats[imageId-1].price = 60;
        }else if(imageId >=101 && imageId <=200){
          seats[imageId-1].price = 40;
        }
      }
      if(imageName.indexOf("egg") >= 0){
        seats[imageId-1].eggtype = "none";
      }

    });
    
  });



});


</script>
