<br>
<center>
  <h1>PLEASE MAKE YOUR PAYMENT HERE</h1>
</center>
<br>

<center>
 <%= form_tag charges_path, id: 'stripeForm' do -%>
   <script src="https://checkout.stripe.com/checkout.js"></script>
   <article>
     <%= label_tag 'amount', 'To Pay', class: 'amount' %>
     <%= label_tag 'amount', "$#{@amount}.00", class: "amount-figure" %>
   </article> <br>
   <button id="stripe-button">pay by card</button>
   <%= hidden_field_tag 'stripeToken' %>
   <%= hidden_field_tag 'stripeEmail' %>
   <%= hidden_field_tag 'stripeAmount' %>
 
   <script>
     var handler = StripeCheckout.configure({
       key: "<%= Rails.configuration.stripe[:publishable_key] %>",
       token: function (token, args) {
         $("#stripeToken").val(token.id);
         $("#stripeEmail").val(token.email);
         $("#stripeAmount").val('<%= @amount %>');
         $("#stripeForm").submit();
       }
     });
 
     $('#stripe-button').on('click', function (e) {
       // Open Checkout with further options
       handler.open({
         name: 'Customer name',
         description: 'WDI4 Conf Ticket',
         amount: <%= @amount * 100 %>
       });
     e.preventDefault();
     });
 
     $(window).on('popstate', function() {
       handler.close();
     });
   </script>
 <% end %>
</center>